<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Requirement already satisfied: sqlalchemy==1.3.9 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (1.3.9)
/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Requirement already satisfied: ibm_db_sa in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (0.3.5)
Requirement already satisfied: sqlalchemy>=0.7.3 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ibm-db>=2.0.0 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from ibm_db_sa) (3.0.2)
/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Requirement already satisfied: ipython-sql in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: prettytable<1 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: six in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from ipython-sql) (7.15.0)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: backcall in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.10 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.5)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (47.3.1.post20200622)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.4)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL**

In [3]:
%sql ibm_db_sa://sbg33921:mp5j0c%5Evbqvh4z44@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB

In [4]:
%sql SELECT * FROM syscat.tables WHERE tabschema = 'SBG33921'

 * ibm_db_sa://sbg33921:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('SBG33921', 'EMPLOYEES', 'SBG33921', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 6, 24, 17, 14, 37, 176814), datetime.datetime(2021, 6, 24, 17, 14, 37, 644862), datetime.datetime(2021, 6, 24, 17, 14, 37, 644878), datetime.datetime(2021, 6, 24, 17, 25, 42, 917715), 11, 5, 3909, 10, 1, 0, 2, -1, -1, -1, 0, 'sbg33921space1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 118, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 6, 24, 17, 14, 37, 176814), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(2021, 8, 10), ' ', 'N', 'R', 'N', -1.0, None),
 ('SBG33921', 'JOB_HISTORY', 'SBG33921', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 6, 24, 17, 14, 37, 704789), datetime.datetime(2021, 6, 24, 17, 14, 38, 156750), datetime.datetime(2021, 6, 24, 17, 14, 38, 156767), datetime.datetime(2021, 6, 24, 18, 13, 49, 993820), 4, 6, 3909, 10, 1, 0, 2, -1, -1, -1, 0, 'sbg33921space1', None, None, 0, 0, 0, 2, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 43, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 6, 24, 17, 14, 37, 704789), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(2021, 8, 11), ' ', 'N', 'R', 'N', -1.0, None),
 ('SBG33921', 'JOBS', 'SBG33921', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 6, 24, 17, 14, 38, 217301), datetime.datetime(2021, 6, 24, 17, 14, 38, 664646), datetime.datetime(2021, 6, 24, 17, 14, 38, 664661), datetime.datetime(2021, 6, 24, 18, 13, 50, 257590), 4, 7, 3909, 10, 1, 0, 2, -1, -1, -1, 0, 'sbg33921space1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 51, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 6, 24, 17, 14, 38, 217301), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(2021, 8, 13), ' ', 'N', 'R', 'N', -1.0, None),
 ('SBG33921', 'DEPARTMENTS', 'SBG33921', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 6, 24, 17, 14, 38, 709004), datetime.datetime(2021, 6, 24, 17, 14, 39, 156644), datetime.datetime(2021, 6, 24, 17, 14, 39, 156657), datetime.datetime(2021, 6, 24, 17, 30, 43, 373034), 4, 8, 3909, 3, 1, 0, 2, -1, -1, -1, 0, 'sbg33921space1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 57, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 6, 24, 17, 14, 38, 709004), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(2021, 8, 14), ' ', 'N', 'R', 'N', -1.0, None),
 ('SBG33921', 'LOCATIONS', 'SBG33921', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 6, 24, 17, 14, 39, 208967), datetime.datetime(2021, 6, 24, 17, 14, 39, 637842), datetime.datetime(2021, 6, 24, 17, 14, 39, 637858), datetime.datetime(2021, 6, 24, 18, 13, 48, 729827), 2, 9, 3909, 3, 1, 0, 2, -1, -1, -1, 0, 'sbg33921space1', None, None, 0, 0, 0, 2, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 28, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 6, 24, 17, 14, 39, 208967), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(2021, 8, 14), ' ', 'N', 'R', 'N', -1.0, None),
 ('SBG33921', 'PETRESCUE', 'SBG33921', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 6, 28, 21, 35, 15, 857094), datetime.datetime(2021, 6, 28, 21, 35, 16, 302036), datetime.datetime(2021, 6, 28, 21, 35, 16, 302050), datetime.datetime(2021, 6, 28, 21, 40, 42, 458875), 5, 10, 3909, 9, 1, 0, 1, -1, -1, -1, 0, 'sbg33921space1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 38, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 6, 28, 21, 35, 15, 857094), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(2021, 8, 9), ' ', 'N', 'R', 'N', -1.0, None),
 ('SBG33921', 'INSTRUCTOR', 'SBG33921', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 6, 30, 18, 27, 31, 554841), datetime.datetime(2021, 6, 30, 18, 27, 32, 458909), datetime.datetime(2021, 6, 30, 18, 27, 32, 458923), datetime.datetime(2021, 6, 30, 20, 4, 11, 520088), 5, 11, 3909, 3, 1, 0, 1, -1, -1, -1, 0, 'sbg33921space1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 49, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 6, 30, 18, 27, 31, 554841), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(2021, 8, 14), ' ', 'N', 'R', 'N', -1.0, None),
 ('SBG33921', 'INTERNATIONAL_STUDENT_TEST_SCORES', 'SBG33921', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 7, 12, 19, 24, 5, 50586), datetime.datetime(2021, 7, 12, 19, 24, 5, 50586), datetime.datetime(2021, 7, 12, 19, 24, 5, 50586), datetime.datetime(2021, 7, 12, 19, 30, 42, 533541), 4, 12, 3909, 99, 1, 0, 1, -1, -1, -1, 0, 'sbg33921space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 49, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 7, 12, 19, 24, 5, 50586), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(2021, 8, 3), ' ', 'N', 'R', 'N', -1.0, None),
 ('SBG33921', 'CHICAGO_SOCIOECONOMIC_DATA', 'SBG33921', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 7, 13, 16, 54, 14, 695306), datetime.datetime(2021, 7, 13, 16, 54, 14, 695306), datetime.datetime(2021, 7, 13, 16, 54, 15, 599825), datetime.datetime(2021, 7, 13, 16, 55, 42, 404496), 10, 13, 3909, 78, 1, 0, 1, -1, -1, -1, 0, 'sbg33921space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 111, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 7, 13, 16, 54, 14, 695306), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(2021, 8, 8), ' ', 'N', 'R', 'N', -1.0, None),
 ('SBG33921', 'SCHOOLS', 'SBG33921', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 7, 13, 18, 41, 14, 666998), datetime.datetime(2021, 7, 13, 18, 41, 14, 666998), datetime.datetime(2021, 7, 13, 18, 41, 14, 666998), datetime.datetime(2021, 7, 13, 18, 50, 42, 540178), 78, 14, 3909, 566, 15, 0, 16, -1, -1, -1, 0, 'sbg33921space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 843, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 7, 13, 18, 41, 14, 666998), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(2021, 8, 16), ' ', 'N', 'R', 'N', -1.0, None),
 ('SBG33921', 'CHICAGO_PUBLIC_SCHOOLS', 'SBG33921', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 7, 13, 21, 38, 32, 238321), datetime.datetime(2021, 7, 16, 16, 17, 37, 663348), datetime.datetime(2021, 7, 16, 16, 17, 37, 663362), datetime.datetime(2021, 7, 13, 21, 45, 42, 480116), 78, 15, 3909, 566, 15, 0, 16, -1, -1, -1, 0, 'sbg33921space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 843, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 7, 13, 21, 38, 32, 238321), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(2021, 8, 16), ' ', 'N', 'R', 'N', -1.0, None),
 ('SBG33921', 'CHICAGO_CRIME_DATA', 'SBG33921', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 7, 13, 21, 39, 38, 843209), datetime.datetime(2021, 7, 13, 21, 39, 38, 843209), datetime.datetime(2021, 7, 13, 21, 39, 38, 843209), datetime.datetime(2021, 7, 13, 21, 45, 42, 878608), 21, 16, 3909, 533, 4, 0, 5, -1, -1, -1, 0, 'sbg33921space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 224, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 7, 13, 21, 39, 38, 843209), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(2021, 8, 7), ' ', 'N', 'R', 'N', -1.0, None),
 ('SBG33921', 'CENSUS_DATA', 'SBG33921', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 7, 13, 21, 40, 50, 997088), datetime.datetime(2021, 7, 13, 21, 40, 50, 997088), datetime.datetime(2021, 7, 13, 21, 40, 50, 997088), datetime.datetime(2021, 7, 13, 21, 45, 42, 983577), 9, 17, 3909, 78, 1, 0, 2, -1, -1, -1, 0, 'sbg33921space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 57, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 7, 13, 21, 40, 50, 997088), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(2021, 8, 5), ' ', 'N', 'R', 'N', -1.0, None),
 ('SBG33921', 'PETSALE', 'SBG33921', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 7, 15, 18, 26, 41, 833543), datetime.datetime(2021, 7, 15, 18, 26, 42, 727092), datetime.datetime(2021, 7, 15, 18, 26, 42, 727100), datetime.datetime(2021, 7, 15, 20, 30, 35, 666567), 5, 4, 3909, 5, 1, 0, 1, -1, -1, -1, 0, 'sbg33921space1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 39, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 7, 15, 18, 26, 41, 833543), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(2021, 8, 6), ' ', 'N', 'R', 'N', -1.0, None),
 ('SBG33921', 'SHOESHOP', 'SBG33921', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 7, 15, 19, 50, 51, 535533), datetime.datetime(2021, 7, 15, 19, 50, 52, 5005), datetime.datetime(2021, 7, 15, 19, 50, 52, 5020), datetime.datetime(2021, 7, 15, 19, 55, 42, 638418), 3, 18, 3909, 4, 1, 0, 1, -1, -1, -1, 0, 'sbg33921space1', None, None, 0, 0, 0, 1, 1, 0, 1, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 30, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 7, 15, 19, 50, 51, 535533), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(2021, 8, 6), ' ', 'N', 'R', 'N', -1.0, None),
 ('SBG33921', 'BANKACCOUNTS', 'SBG33921', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 7, 15, 19, 51, 4, 104870), datetime.datetime(2021, 7, 15, 19, 51, 4, 960510), datetime.datetime(2021, 7, 15, 19, 51, 4, 960528), datetime.datetime(2021, 7, 15, 19, 55, 42, 688553), 3, 19, 3909, 4, 1, 0, 1, -1, -1, -1, 0, 'sbg33921space1', None, None, 0, 0, 0, 1, 1, 0, 1, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 34, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 7, 15, 19, 51, 4, 104870), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(2021, 8, 6), ' ', 'N', 'R', 'N', -1.0, None),
 ('SBG33921', 'NEWVIEW', 'SBG33921', 'U', 'V', 'N', None, None, None, None, datetime.datetime(2021, 7, 16, 15, 4, 38, 624765), datetime.datetime(2021, 7, 16, 15, 4, 38, 624765), datetime.datetime(2021, 7, 16, 16, 17, 37, 615259), None, 7, 0, 0, -1, -1, -1, -1, -1, -1, -1, -1, None, None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', None, ' ', '0', 0, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, '\x00', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2021, 7, 16, 15, 4, 38, 624765), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(1, 1, 1), ' ', 'N', 'N', ' ', -1.0, None),
 ('SBG33921', 'SPACEXTBL', 'SBG33921', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 8, 4, 20, 17, 39, 221319), datetime.datetime(2021, 8, 4, 20, 17, 39, 221319), datetime.datetime(2021, 8, 4, 20, 17, 39, 221319), datetime.datetime(2021, 8, 4, 20, 35, 42, 269304), 10, 20, 3909, 101, 1, 0, 2, -1, -1, -1, 0, 'sbg33921space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 142, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2021, 8, 4, 20, 17, 39, 221319), 0, ' ', None, None, 'N', 'SBG33921', ' ', ' ', ' ', datetime.date(2021, 8, 5), ' ', 'N', 'R', 'N', -1.0, None)]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [5]:
%sql select DISTINCT(launch_site) from spacextbl

 * ibm_db_sa://sbg33921:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('CCAFS LC-40',),
 ('CCAFS SLC-40',),
 ('CCAFSSLC-40',),
 ('KSC LC-39A',),
 ('VAFB SLC-4E',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [6]:
%sql SELECT * FROM spacextbl where launch_site LIKE 'CCA%' LIMIT 5

 * ibm_db_sa://sbg33921:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [7]:
%sql SELECT SUM(payload_mass__kg_) FROM spacextbl WHERE customer = 'NASA (CRS)'

 * ibm_db_sa://sbg33921:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(45596,)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [8]:
%sql SELECT AVG(payload_mass__kg_) FROM spacextbl WHERE booster_version = 'F9 v1.1'

 * ibm_db_sa://sbg33921:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('2928.400000'),)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [9]:
%sql SELECT MIN(DATE) FROM spacextbl WHERE mission_outcome = 'Success'

 * ibm_db_sa://sbg33921:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(datetime.date(2010, 6, 4),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [10]:
%sql SELECT booster_version from spacextbl WHERE (payload_mass__kg_ BETWEEN 4000 AND 6000) AND landing__outcome = 'Success (drone ship)'

 * ibm_db_sa://sbg33921:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [11]:
%sql SELECT mission_outcome, count(orbit) as count FROM spacextbl GROUP BY mission_outcome

 * ibm_db_sa://sbg33921:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Failure (in flight)', Decimal('1')),
 ('Success', Decimal('99')),
 ('Success (payload status unclear)', Decimal('1'))]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [12]:
%sql SELECT DISTINCT(booster_version) FROM spacextbl WHERE payload_mass__kg_ = (SELECT MAX(payload_mass__kg_) FROM spacextbl)

 * ibm_db_sa://sbg33921:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1049.7',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1060.3',)]

### Task 9

##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015

In [13]:
%sql SELECT MONTHNAME(date) as Month, landing__outcome, booster_version, launch_site FROM spacextbl WHERE landing__outcome = 'Failure (drone ship)' AND date LIKE '2015%'

 * ibm_db_sa://sbg33921:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('January', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('April', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10

##### Rank the  count of  successful landing_outcomes between the date 2010-06-04 and 2017-03-20 in descending order.

In [14]:
%sql SELECT landing__outcome, count(orbit) as count FROM spacextbl WHERE (date BETWEEN '2010-06-04' AND '2017-03-20') AND (landing__outcome LIKE 'Success%' OR landing__outcome = 'Success') GROUP BY landing__outcome ORDER BY count DESC

 * ibm_db_sa://sbg33921:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Success (drone ship)', Decimal('5')),
 ('Success (ground pad)', Decimal('3'))]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>